@model ContactUs
@{
    ViewData["Title"] = "Contact";
}
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-box mb-4">
                            <i class="bx bx-map"></i>
                            <h3>عنواننا</h3>
                            <p>
                                المنصورة ,
                                الدقهلية ,
                                مصر
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="info-box  mb-4">
                            <i class="bx bx-envelope"></i>
                            <h3>البريد الالكتروني</h3>
                            <a href="mailto:gedo.mk@gmail.com">gedo.mk@gmail.com</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="info-box  mb-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>اتصل بنا</h3>
                            <a href="tel:+201090119556">+201090119556</a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1709.0805940410446!2d31.394471857926177!3d31.04961199328844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1638272864820!5m2!1sen!2sbg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                    </div>


                    <div class="col-lg-6">
                        <form asp-action="saveContact" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" asp-for="Name"  class="form-control" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" asp-for="Email" class="form-control"  placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" asp-for="Subject"  placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control"  asp-for="Message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">ارسل رسالة</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->