<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Gedo News</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/news.png" rel="icon">
    <link href="~/assets/img/news.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    
    <!-- =======================================================
    * Template Name: Gedo News - v4.7.0
    * Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: #404040; direction: rtl;">
        <div class="container d-flex justify-content-between align-items-center">


            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                    </li>
                    @*<li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">تواصل معنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Messages">اراء الجمهور</a>
                    </li>
                    @*@if (User.IsInRole("ADMIN"))
                    {*@ 
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">لوحة التحكم</a>
                        </li>
                    @*}*@
                </ul>
               <partial name="_LoginPartial" />
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <div class="logo">
                <h1><a asp-controller="home" asp-action="index">جدو نيوز</a></h1>
            </div>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->

    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background: url(/assets/img/slide/6.jpg) no-repeat;background-size:cover">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">أهلا بكم في موقع <span>جدو نيوز</span></h2>
                                <p class="animate__animated animate__fadeInUp alert alert-dark w-100 p-2">الموقع الإخباري الأول في مصر يهتم بجميع الأخبار في مختلف المجالات</p>
                                @*<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>*@
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background: url(/assets/img/slide/5.jpg) no-repeat; background-size: cover ">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">أهلا بكم في موقع <span>جدو نيوز</span></h2>
                                <p class="animate__animated animate__fadeInUp alert alert-dark w-100 p-2">الموقع الإخباري الأول في مصر يهتم بجميع الأخبار في مختلف المجالات</p>
                                @*<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>*@
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background: url(/assets/img/slide/4.jpg) no-repeat; background-size: cover ">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">أهلا بكم في موقع <span>جدو نيوز</span></h2>
                                <p class="animate__animated animate__fadeInUp alert alert-dark w-100 p-2">الموقع الإخباري الأول في مصر يهتم بجميع الأخبار في مختلف المجالات</p>
                                @*<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>*@
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <div class="container">
            @RenderBody()
        </div>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" style="direction:rtl;">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>صفحات مهمة</h4>
                        <ul>
                            <li><i class="bx bx-chevron-left"></i> <a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                            <li><i class="bx bx-chevron-left"></i> <a asp-controller="Home" asp-action="Contact">التواصل بالرسائل</a></li>
                            <li><i class="bx bx-chevron-left"></i> <a asp-controller="Home" asp-action="Messages">أراء الجمهور</a></li>
                            @*<li><i class="bx bx-chevron-left"></i> <a asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>*@
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>تواصل معنا</h4>
                        <p>
                            
                            المنصورة ,
                            الدقهلية ,
                            مصر<br/>
                            <strong>موبيل : </strong>+201090119556<br>
                            <strong>بريد الكتروني : </strong> gedo.mk@gmail.com<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>عن الموقع</h3>
                        <p>
                            الموقع الإخباري الأول في مصر يهتم بجميع الأخبار في مختلف المجالات
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-youtube"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Gedo News</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="">Gedo</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    
    @*@RenderSection("Scripts", False)*@
    
    
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>